html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body, #root{
  height: 100vh;
  margin: 0;
}
body, input, select, textarea, button{
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a{
  text-decoration: none;
}
header{
  grid-area: header;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  padding: .5rem;
}
header a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: red;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
.main{
  flex: 3 60rem;
}
.sidebar{
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  background-color: rgb(134, 128, 128);
  transform: translateX(0rem);
}

/* products */

.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li{
  flex: 0;
  height: 52rem;
  padding: 1rem;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img{
  max-width: 37rem;
  max-height: 37rem;
}
.product p{
  text-align: center;
  word-break: keep-all;
  color: black;
}
.product-price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-tag{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 1rem;
}
.product-price div,
.product-price button{
  text-align: center;
  flex: 1;
}
.product-price div{
  font-size: 2rem;
}
.product-price .smaller{
  font-size: 1.2rem;
  margin: 0 0.4rem 0 0;
}
.product-price button{
  padding: 1.3rem;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 100%;
}
.button:hover{
  opacity: 0.7;
}
.button.primary{
  background-color: black;
}

/* Filter */

.filter{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border-bottom: solid 0.1rem black;
  justify-content: space-between;
}
.filter div{
  /* flex: 1; */
}

/* cart */

.cart{
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: flex;
}
.cart-header{
  border-bottom: .1rem gray solid;
}
.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-items li{
  display: flex;
}
.cart-items li div {
  padding: .5rem;
}
.cart-items li div:last-child{
  flex: 1;
}
.cart-div{
  height: 100%;
}
.cart-main {
  height: 100%;
}
.cart-element{
  display: grid;
  grid-template-columns: 1fr 8rem;
}
.cart-element-title{
  grid-column: 1/2;
}
.right{
  grid-column: 2/3;
  text-align: right;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cart-footer{
  
}
.total {
  display: flex;
  flex-direction: column;
}
.total > div {
  font-size: 1.4rem;
}
.cart-subtotal{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.cart-subtotal div{
  padding: 1rem;
}
.button-checkout {
  background-color: black;
  color: white;
  border: none;
  width: calc(100% - 1rem);
  height: 4rem;
  font-size: 1.2rem;
  margin: 1rem;
}

/*modal */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details img {
  max-height: 50vh;
  max-width: 46rem;
  margin: 0 auto;
}
.product-details-description {
  flex: 1 1;
  margin: 2rem;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  font-size: 1.1rem;
  width: 2.2rem;
  height: 2.2rem;
  z-index: 1000;
  background-color: black;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button-modal{
  background-color: black;
  color: white;
  width: 12rem;
  height: 4rem;
  border: none;
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
  cursor: pointer;
}
.button-modal-back{
  float: right;
  width: 8rem;
  height: 4rem;
  border: none;
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
}
.product-details-description p:last-of-type{
  border-top: 1px solid gray;
  padding: 2rem 0;
}